.cascading-admin-card .admin-up {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px;
}

.cascading-admin-card .admin-up .fa {
    padding: 1.7rem;
    font-size: 2rem;
    color: #fff;
    text-align: left;
    border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
    float: right;
    margin-left: 15px;
    margin-top: 2rem;
    text-align: right;
}
