.breadcrumb {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  list-style: none;
  background-color: #d3e5f8;
  color: #1976d2;
  border-radius: 0.25rem;
  ol {
    margin: 0 !important;
    margin-block-end: 0 !important;
  }
}
